.Jumbotron {
	position: relative;
	background: url('../../assets/background.jpg') center;
	padding: 100px;
	margin-top: 88px;
	text-align: center;
  box-shadow: 1px 4px 6px 5px rgba(0,0,0,0.75);
}

.Jumbotron::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.Jumbotron * {
  position: relative;
  z-index: 2;
}

h1 {
	font-family: 'Alfa Slab One', serif;
	color: #FFF;
	font-size: 100px;
}

.home-text {
	font-size: 30px;
	padding: 90px;
}